In [1]:
import mysql.connector

In [3]:
from mysql.connector import errorcode
import pandas as pd
from sqlalchemy import create_engine
import time

In [5]:
# MySQL Credentials
host = 'localhost'
user = 'root'
password = 'V@nya'
port = 3306
database_name = 'Play_Market_2025'

In [7]:
# Table creation SQL
table_name = 'apps_info'
table_schema = f"""
CREATE TABLE IF NOT EXISTS {table_name}(
app_id INT PRIMARY KEY,
app_name VARCHAR(255),
description VARCHAR(255),
score DECIMAL(3,2),
ratings_count INT,
downloads INT,
content_rating VARCHAR(50),
section VARCHAR(100),
categories VARCHAR(255)); 
"""

table_name_2 = 'apps_reviews'
table_schema_2 = f"""
CREATE TABLE IF NOT EXISTS {table_name_2}(
app_id INT,
review_text VARCHAR(100),
review_score DECIMAL(3,2),
review_date DATE,
helpful_count INT); 
"""

table_name_3 = 'games_info'
table_schema_3 = f"""
CREATE TABLE IF NOT EXISTS {table_name_3}(
game_id INT PRIMARY KEY,
game_name VARCHAR(255),
description VARCHAR(255),
score DECIMAL(3,2),
ratings_count INT,
downloads INT,
content_rating VARCHAR(50),
section VARCHAR(100),
categories VARCHAR(255));
"""

table_name_4 = 'games_reviews'
table_schema_4 = f"""
CREATE TABLE IF NOT EXISTS {table_name_4}(
game_id INT,
review_text VARCHAR(100),
review_score DECIMAL(3,2),
review_date DATE,
helpful_count INT); 
"""

In [9]:
try:
    #connect to MySQL Server
    conn = mysql.connector.connect(
        host = host,
        user = user,
        password = password,
        allow_local_infile = True
    )
    cursor = conn.cursor()

    #Drop Already Existing Database
    cursor.execute(f"DROP DATABASE IF EXISTS {database_name}")
    print(f"Database {database_name} has been Dropped!")

    #Create a new database
    cursor.execute(f"CREATE DATABASE IF NOT EXISTS {database_name}")
    print(f"Database {database_name} is successfully created or already exists")
    
    #Use newly created database
    cursor.execute(f"USE {database_name}")
    print(f"Database Switched!")

    #time.sleep(1)
    
    #create a table_1
    cursor.execute(table_schema)
    print(f"Table {table_name} is successfully created in {database_name} database")

    query = """
    LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/apps_info.csv'
    INTO TABLE apps_info
    FIELDS TERMINATED BY ',' 
    OPTIONALLY ENCLOSED BY '"'
    LINES TERMINATED BY '\n'
    IGNORE 1 ROWS;
    """
    
    #create a table_2
    cursor.execute(table_schema_2)
    print(f"Table {table_name_2} is successfully created in {database_name} database")

    query_2 = """
    LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/apps_reviews.csv'
    INTO TABLE apps_reviews
    FIELDS TERMINATED BY ',' 
    ENCLOSED BY '"'
    LINES TERMINATED BY '\n';
    """

    #time.sleep(1)
    
    #create a table_3
    cursor.execute(table_schema_3)
    print(f"Table {table_name_3} is successfully created in {database_name} database")

    query_3 = """
    LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/games_info.csv'
    INTO TABLE games_info
    FIELDS TERMINATED BY ',' 
    ENCLOSED BY '"'
    LINES TERMINATED BY '\n';
    """

    #time.sleep(1)
    
    #create a table_4
    cursor.execute(table_schema_4)
    print(f"Table {table_name_4} is successfully created in {database_name} database")

    query_4 = """
    LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/games_reviews.csv'
    INTO TABLE games_reviews
    FIELDS TERMINATED BY ',' 
    ENCLOSED BY '"'
    LINES TERMINATED BY '\n';
    """

    #time.sleep(1)
    
    cursor.execute(query)
    print(f"Data successfully uploaded to {table_name}")

    
    cursor.execute(query_2)
    print(f"Data successfully uploaded to {table_name_2}")

    
    cursor.execute(query_3)
    print(f"Data successfully uploaded to {table_name_3}")

    
    cursor.execute(query_4)
    print(f"Data successfully uploaded to {table_name_4}")


    
except mysql.connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
        print("Access denied: Check your username or password.")
    elif err.errno == errorcode.ER_BAD_DB_ERROR:
        print("Database does not exist and couldn't be created.")
    else:
        print(err)
finally:
    
    if conn.is_connected():
        cursor.close()
        conn.close()
        print("MySQL connection closed.")

Database Play_Market_2025 has been Dropped!
Database Play_Market_2025 is successfully created or already exists
Database Switched!
Table apps_info is successfully created in Play_Market_2025 database
Table apps_reviews is successfully created in Play_Market_2025 database
Table games_info is successfully created in Play_Market_2025 database
Table games_reviews is successfully created in Play_Market_2025 database
Data successfully uploaded to apps_info
Data successfully uploaded to apps_reviews
Data successfully uploaded to games_info
Data successfully uploaded to games_reviews
MySQL connection closed.